{% extends 'base.html' %}
{% block content %}
<div class='container mt-5'>
  <form method='POST'>
    <div class='text-center'>
      <h1>SingleKey</h1>
    </div>
    <div class='row mt-3'>
      <div class='col'>
        <label>Name</label><br>
        <input name='name'>
      </div>
      <div class='col'>
        <label>Email</label><br>
        <input name='email'>
      </div>
    </div>
    <br>
    <br>
    {% csrf_token %}
    <div class='text-center'>
      <button type='supmit' class='btn btn-primary'>Submit</button>
    </div>
  </form>
  {% if results %}
  <div class='w-100 text-center mt-5'>
    <h3>Previous submissions</h3>
      {% for i in results %}
        <div class='text-left mb-3 p-4 card'>
          <b>{{ i.name }}</b><br>
          <b>{{ i.email }}</b>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}
