{% extends 'base.html' %}
{% block title %}
Registration
{% endblock %}
{% block content %}
<img class="ml-4 mt-4" src="../static/assets/singlekey_logo.png" height="35px"></img>
<button type="button" class="btn btn-outline-primary float-right mr-4 mt-4" style="width: 7em; height: 35px;">Log In</button>
<hr class="mt-3 mb-0"/>
<div class="container p-0 indexContent">
  <div class='container indexForm mt-5'>
    <form method='POST'>
      <div class='text-left'>
        <h2 class="font-weight-bold">Submit Information</h2>
      </div>
      <div class='mt-3'>
        <div>
          <label class="font-weight-bold">Applicant Name</label><br>
          <input name='name' placeholder="Applicant Name" class="w-100 py-2 px-2">
        </div>
        <div class="mt-3">
          <label class="font-weight-bold">Email Address</label><br>
          <input name='email' placeholder="Email Address" class="w-100 py-2 px-2">
        </div>
      </div>
      <br>
      {% csrf_token %}
      <div class='text-left'>
        <button type='submit' class='btn btn-secondary mt-0' style="width: 7em;">Submit</button>
      </div>
    </form>
    <hr/>
  </div>
  <div class="card summaryCard p-4 mr-0">
    <h3>Hello Alex</h3>
    <p>Here is a quick summary of your activity so far. If you have any questions about your report feel free to book a call with us.</p>
    <button type="button" class="btn btn-outline-secondary bg-transparent" style="width: 7em; height: 35px;">Book a call</button>
  </div>
  <div class="container indexSubmissions">
  {% if results %}
  <div class='text-left mt-5'>
    <h3>Submissions</h3>
    <table class="table shadow p-3 mb-5 bg-body rounded">
      <thead>
        <tr class="d-none d-md-table-row">
          <th>Applicant</th>
          <th>Email</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for i in results %}
        <tr>
          <td>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="navy" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>
          <b>{{ i.name }}</b>
        </td>
        <td>
          {{ i.email }}
        </td>
        <td>
          Submitted
        </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>
<div class="card rentCard p-4 mr-0">
  <h3>Rent Guarentee</h3>
  <p>Never miss a rent payment! Learn how our Rent Guarentee Program protects your property and rental income so you can take the risk out of renting.</p>
  <button type="button" class="btn btn-outline-secondary bg-transparent" style="width: 7em; height: 35px;">Start now</button>
</div>
</div>
<footer class="footer mt-auto py-3">
  <div class="container">
    &copy All rights reserved SingleKey 2021
  </div>
</footer>
{% endblock %}
